img {
  height: 3.6rem;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 20rem;
  max-height: 3.6rem;
}
