.table {
  margin-top: 1rem;
  overflow: scroll;
  height: 20rem;
}

.table::-webkit-scrollbar {
  display: none;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.card {
  margin: 0 3% 2% !important;
}
