* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 250, 250);
  margin: 2rem;
}

.containerMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .containerMain {
    flex-direction: column;
  }
}
