.map {
  width: 100%;
  height: 30.7rem;
}

.card {
  margin: 0 3% 2% !important;
}

.countryFlag {
  max-width: 5rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

.mapHeader {
  display: flex;
}

.countryName {
  margin-right: auto;
  margin-left: auto;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.countryNameContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
